<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="categorie-container">
                        <div class="categorie">
                            <a href="/chestionar?categoria=a"><img src="../../assets/img/motocycle.jpg"/></a>
                        </div>
                        <div class="categorie">
                            <a href="/chestionar?categoria=b"><img src="../../assets/img/autovechicle.png"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</body>
</html>