<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="message-card">
                    <div class="row">
                        <div class="col">
                            <p id="message-header" class="status-text success">{{textHeader}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col aditional-text">
                            {{textAdditional}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col back-to-new-test-container">
                            <a class="btn btn-back" href="">Completati inca un examen!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>