<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="categorie-container">
                        <div class="row">
                            <div class="col">
                                <div class="info-logo-div"></div>
                                <p class="categorie-selection-info">Ati selectat categorie B</p>
                                <p class="info-timp-disponibil">Veti avea la dispozitie 30 de minute pentru a finaliza acest test!</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <a href="test?categoria=b" class="btn btn-start-test">INCEPE TESTUL</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</body>
</html>